@import "header.css";
@import "navbar.css";
@import "home.css";
@import "issuePermit.css";
@import "holders.css";
@import "garages.css";
@import "permitTypes.css";
@import "violations.css";
@import "permits.css";

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #DDDDDD;
}

.app__container {
  display: flex;
  flex-direction: row;
}

.btn {
  padding: 0.2rem;
  margin: 0.15rem;
  background-color: #FFBB00;
  border: 1px solid;
}

.btn:hover {
  cursor: pointer;
  
}